<div style="display:inline-block; margin-bottom: 2rem;">
    <div class='card slide-up'>
        <img class='image' src='{{getUrlImage()}}'>
        <div class='caption'>
            <p class='caption-content'>
                {{comic.title}}
            </p>
            <a class='btn btn-primary' href="#" title="Info" style="width: 42px;height: 38px;"><span class="oi oi-info"></span></a>
            <a class='btn btn-primary' href="#" title="Add to Cart"><span class="oi oi-cart"></span></a>
        </div>
    </div>
</div>