<!--
<div style='width: 168px; height: 252px;'>
    <div class='card slide-up'>

        <div class='image imgOne'></div>

        <div class='caption'>
            <p class='caption-content'>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quas iusto deserunt aut suscipit odio neque, vitae aliquam.
                <a href="#" class="button expanded hollow white">Read More</a>
            </p>
        </div>
        <h2 class=" cardTitle text-center">Tusk Shaping</h2>
    </div>
</div>
-->


<div>
    <p>{{comic.title}}</p>
</div>