<div class='container'>
  <div *ngIf='comicListState$ | async as comicListState'>
    <span *ngIf="comicListState.listComic.loading" class="text-center">
      <img class="img-fluid" src='https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/4/49/Pool.gif/revision/latest?cb=20130824235053'>
    </span>
    <span *ngIf="comicListState.listComic.error" class="text-center">
      <h3>Ocorreu um Erro ao tentar conectar na API =/ </h3>
    </span>

    <div class='col-sm-12 text-center'>

      <div *ngIf="!comicListState.listComic.loading && !comicListState.listComic.error">
        <br>
        <h1>List Comics</h1>

        <div class="input-group">
          <input [(ngModel)]="title" type="text" class="form-control" id="title" placeholder="Title" aria-label="Title">
          <div class="input-group-append">
            <button type="button" (click)='searchComics()' title="Search" class="btn btn-primary btn-mybtn" style="width: 42px;height: 38px;">
              <span class="oi oi-magnifying-glass"></span>
            </button>
            <button type="button" (click)='reloadList();title=""' title="Reload List" class="btn btn-warning btn-mybtn" style="width: 42px;height: 38px;color:'white'">
              <span class="oi oi-loop-circular"></span>
            </button>
          </div>
        </div>
        <br>
        <div class='row'>
          <item-comic class='col-sm-12 col-md-6 col-lg-4 col-xl-3' *ngFor="let comic of comicListState.listComic.comics | paginate: { id: 'pgListComic',
          itemsPerPage: 20,
          currentPage: page,
          totalItems: comicListState.listComic.totalItens }" [comic]='comic'></item-comic>
          <pagination-controls class="col-sm-12 my-pagination" (pageChange)="pageChanged($event)" id="pgListComic"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>